<div class="container">

        <h4>Skills</h4>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked1" (change)="AddSkill($event,'Web development')">
            <label class="custom-control-label" for="defaultUnchecked1">Web development</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked2" (change)="AddSkill($event,'Mobile development')">
            <label class="custom-control-label" for="defaultUnchecked2">Mobile development</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked3" (change)="AddSkill($event,'Data science')">
            <label class="custom-control-label" for="defaultUnchecked3">Data science</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked4" (change)="AddSkill($event,'Software development')">
            <label class="custom-control-label" for="defaultUnchecked4">Software development</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked5" (change)="AddSkill($event,'Block chain')">
            <label class="custom-control-label" for="defaultUnchecked5">Block chain</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked6" (change)="AddSkill($event,'Machine learning')">
            <label class="custom-control-label" for="defaultUnchecked6">Machine learning</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked7" (change)="AddSkill($event,'Natural language processing')">
            <label class="custom-control-label" for="defaultUnchecked7">Natural language processing</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked8" (change)="AddSkill($event,'Digital marketing')">
            <label class="custom-control-label" for="defaultUnchecked8">Digital marketing</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked9" (change)="AddSkill($event,'Multimedia designing')">
            <label class="custom-control-label" for="defaultUnchecked9">Multimedia designing</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked10" (change)="AddSkill($event,'Robotics')">
            <label class="custom-control-label" for="defaultUnchecked10">Robotics</label>
        </div>

        <label>Other Skills</label><br>
        <textarea cols="50" rows="5" [(ngModel)]="skills.other_skills"></textarea>
        
        <br>
        
        <h4>Technologies</h4>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked11" (change)="AddTechnology($event,'C')">
            <label class="custom-control-label" for="defaultUnchecked11">C</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked12" (change)="AddTechnology($event,'Java')">
            <label class="custom-control-label" for="defaultUnchecked12">Java</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked13" (change)="AddTechnology($event,'Python')">
            <label class="custom-control-label" for="defaultUnchecked13">Python</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked14" (change)="AddTechnology($event,'C++')">
            <label class="custom-control-label" for="defaultUnchecked14">C++</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked15" (change)="AddTechnology($event,'JavaScript')">
            <label class="custom-control-label" for="defaultUnchecked15">JavaScript</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked16" (change)="AddTechnology($event,'Ruby')">
            <label class="custom-control-label" for="defaultUnchecked16">Ruby</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked17" (change)="AddTechnology($event,'Swift')">
            <label class="custom-control-label" for="defaultUnchecked17">Swift</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked18" (change)="AddTechnology($event,'React/React native')">
            <label class="custom-control-label" for="defaultUnchecked18">React/React native</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked19" (change)="AddTechnology($event,'C#')">
            <label class="custom-control-label" for="defaultUnchecked19">C#</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked20" (change)="AddTechnology($event,'Spring/Struts/JHipster - Java Track')">
            <label class="custom-control-label" for="defaultUnchecked20">Spring/Struts/JHipster - Java Track</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked21" (change)="AddTechnology($event,'DotNet/DotNet Core - Microsoft Track')">
            <label class="custom-control-label" for="defaultUnchecked21">DotNet/DotNet Core - Microsoft Track</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked22" (change)="AddTechnology($event,'Laravel/Slim/YII - PHP Track')">
            <label class="custom-control-label" for="defaultUnchecked22">Laravel/Slim/YII - PHP Track</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked23" (change)="AddTechnology($event,'Mean Stack - JS Track')">
            <label class="custom-control-label" for="defaultUnchecked23">Mean Stack - JS Track</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked24" (change)="AddTechnology($event,'Firebase')">
            <label class="custom-control-label" for="defaultUnchecked24">Firebase</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked25" (change)="AddTechnology($event,'Android')">
            <label class="custom-control-label" for="defaultUnchecked25">Android</label>
        </div>
        
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked26" (change)="AddTechnology($event,'iOS')">
            <label class="custom-control-label" for="defaultUnchecked26">iOS</label>
        </div>

        <label>Other Technologies</label><br>
        <textarea cols="50" rows="5" [(ngModel)]="technologies.other_technologies"></textarea>
        
        <br>

<button type="button" class="btn btn-secondary" (click)="SaveSkills()">Save skills and technologies</button>
</div>



