ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }


  .tag {
    animation: colorchange 20s; /* animation-name followed by duration in seconds*/
       /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 20s; /* Chrome and Safari */
  }

  @keyframes colorchange
  {
    0%   {background: rgb(247, 250, 65);}
    25%  {background: rgb(240, 162, 61);}
    50%   {background: rgb(247, 250, 65);}
    75%  {background: rgb(240, 162, 61);}
    100% {background: rgb(247, 243, 5);}
  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    0%   {background: rgb(247, 250, 65);}
    25%  {background: rgb(240, 162, 61);}
    50%   {background: rgb(247, 250, 65);}
    75%  {background: rgb(240, 162, 61);}
    100% {background: rgb(247, 243, 5);}
  }



  body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .scrolling-box {
    background-color: #eaeaea;
    display: block;
    width: 1000px;
    height: 500px;
    padding: 1em;
    overflow-y: scroll;
    text-align: center;
  }
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }