body {
	background-color: lightblue;
}

.myBg {
  background-color: #79b2ee;
}

.myBg.light {
	background-color: #f8f9fa;
	border: solid 1px #007bff;
}

.myBg .inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.myBg .inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.myBg.light .inp .label {
	color: #007bff;
}

.myBg .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.myBg .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    font-size: 2em;
    font-weight: 500;
    border-bottom: 2px solid rgba(34, 50, 84, 0.05);
    background: none;
    border-radius: 0;
    color: #000;
    transition: all 0.5s ease;
}

.inp input:hover {
    background: rgba(34, 50, 84, 0.05);
}

.myBg .inp input:not(:placeholder-shown) + span {
    color: #fff;
    transform: translateY(-1.6em) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.myBg .inp input:focus + span {
    color: #fff;
    transform: translateY(-1.6em) scale(0.75);
}

.inp input:focus + span + .border {
    transform: scaleX(1);
}

.myImg:hover {
    transform: scale(1.1);
    transition: all 0.1s ease;
}

#card2 {
    /*background-color: #3498db;*/
    -webkit-box-shadow: 1px 1px 10px #000000;
    -moz-box-shadow: 1px 1px 10px #000000;
    box-shadow: 0 0 40px 16px rgba(0, 0, 0, 0.22);
    padding: 2rem;
}

@media (min-width: 950px) {
    .myBg {
        width: 40%;
    }
}

@media (max-width: 949px) and (min-width: 760px) {
    .myBg {
        width: 50%;
    }
}

@media (max-width: 760px) and (min-width: 550px){
    .myBg {
        width: 75%;
    }
}