
.card-header{
    text-emphasis: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-left{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.table table-striped{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
}