<div *ngIf="marked">

<div class="container">
<br>
 <h2 class="text-left">Fixed Projects</h2>
 <br>
  <div class="row">
    <div class="col md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-header">Current projects</h4>

      <div *ngFor="let pro of fixCurPro">

        <table class="table">
          <tr>
            <td scope="col">{{ pro?.project?.project_name }}</td>
            <td scope="col"><button (click)="onClickfix( pro?.id )">
                View more
              </button></td>
          </tr>
        </table>

      </div>
      </div>
      </div>
      </div>

      <div class="col md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h4 class="card-header">Confirmed projects </h4>

      <div *ngFor="let pro of fixConPro">
        <div *ngIf="pro?.project.confirmed_project.isCompleted == 0">
          <table class="table">
            <tr>
              <td scope="col">{{ pro?.project?.project_name }}</td>
              <td scope="col"><button (click)="onClickfix( pro?.id )">
                  View more
                </button></td>
            </tr>
          </table>
        </div>
      </div>
      </div>
      </div>
      </div>

      <div class="col md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h4 class="card-header">Completed projects </h4>

      <div *ngFor="let pro of fixComPro">
        <div *ngIf="pro?.project.confirmed_project.isCompleted != 0">
          <table class="table">
            <tr>
              <td scope="col">{{ pro?.project?.project_name }}</td>
              <td scope="col"><button (click)="onClickfix( pro?.id )">
                  View more
                </button></td>
            </tr>
          </table>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <br><br>
  <h2 class="text-left">Bid Projects</h2>
  <br>
  <div class="row">
    <div class="col md-4">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-header">Current projects </h4>

      <div *ngFor="let pro of bidCurPro">

        <table class="table">
          <tr>
            <td scope="col">{{ pro?.project?.project_name }}</td>
            <td scope="col"><button (click)="onClickbid( pro?.id )">
                View more
              </button></td>
          </tr>
        </table>
        </div>
        </div>
      </div>
    </div>

    <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-header">Confirmed projects </h4>

      <div *ngFor="let pro of bidConPro">
        <div *ngIf="pro?.project.confirmed_project.isCompleted == 0">
          <table class="table">
            <tr>
              <td scope="col">{{ pro?.project?.project_name }}</td>
              <td scope="col"><button (click)="onClickbid( pro?.id )">
                  View more
                </button></td>
            </tr>
          </table>
        </div>
      </div>
      </div>
      </div>
    </div>

    <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-header">Completed projects </h4>
      <div *ngFor="let pro of bidComPro">
        <div *ngIf="pro?.project.confirmed_project.isCompleted != 0">
          <table class="table">
            <tr>
              <td scope="col">{{ pro?.project?.project_name }}</td>
              <td scope="col"><button (click)="onClickbid( pro?.id )">
                  View more
                </button></td>
            </tr>
          </table>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  <br><br>
  <h2 class="text-left">Recieved Projects</h2>
  <br>
  <div class="row">
    <div class="col md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-header">Current projects </h4>

      <div *ngFor="let pro of recCurPro">

        <table class="table">
          <tr>
            <td scope="col">{{ pro?.project?.project_name }}</td>
            <td scope="col"><button (click)="onClickrec( pro?.id )">
                View more
              </button></td>
          </tr>
        </table>
        </div>
        </div>
      </div>
      </div>

      <div class="col md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h4 class="card-header">Confirmed projects </h4>
      <div *ngFor="let pro of recConPro">
        <div *ngIf="pro?.project.confirmed_project.isCompleted == 0">
          <table class="table">
            <tr>
              <td scope="col">{{ pro?.project?.project_name }}</td>
              <td scope="col"><button (click)="onClickrec( pro?.id )">
                  View more
                </button></td>
            </tr>
          </table>
        </div>
      </div>
      </div>
      </div>
      </div>

      <div class="col md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h4 class="card-header">Completed projects </h4>
      <div *ngFor="let pro of recComPro">
        <div *ngIf="pro?.project.confirmed_project.isCompleted != 0">
          <table class="table">
            <tr>
              <td scope="col">{{ pro?.project?.project_name }}</td>
              <td scope="col"><button (click)="onClickrec( pro?.id )">
                  View more
                </button></td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>

  </div>

</div>
</div>

</div>

<div *ngIf="!marked">
  <app-dev-view-my-project></app-dev-view-my-project>
</div>