<!-- <div class="row">

  <div class="col"></div>

  <div class="col">

    <br><br><br><br><br><br>

    <div class="background">
      <div class="container">
        <form (submit)="login()">
          <label class="label control-label">E-mail</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email"
            [(ngModel)]="credentials.email">
          <label class="label control-label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password"
            [(ngModel)]="credentials.password">
          <button type="submit" class="btn btn-info">SIGN IN</button>
          <button routerLink="/home/userType">Create a new account</button>
          <br><br><br><br><br>
        </form>
      </div>
    </div>
  </div>

</div> -->




<body>
  <div class="container">
    <br><br><br>
    <div class="row">
      <div class="col">
        <img src="./assets/img/ab.png"style="width:90%; height: 500px;margin-left: 5%; margin-bottom: 10px; margin-top: -20px;">
        <p class="font-weight-bolder"style="margin-left: 5%; margin-bottom: -40px; margin-top: -30px;">JOIN US ACHIEVE BEST</p>
    </div>
      
      <div class="col">
        <div class="card card-signin my-2">
          <div class="card-body">
            <img class="footer-logo" src="./assets/img/logo.png"
              style="width:50%; height: 150px; margin-left: 25%; margin-bottom: 15px; margin-top: -50px;">
            <form class="form-signin" (submit)="login()">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address"
                  [(ngModel)]="credentials.email" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                  [(ngModel)]="credentials.password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase show-modal" type="button" data-toggle="modal"
                data-target="#exampleModalCenter1">Create a new
                account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="card text-center text-dark">
        <div class="card-body">
          <h3 class="card-title">The EASIEST Way To Find Solutions</h3>
        </div>
      </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="./assets/img/sre.png"class="serv-image"style="width:50%; height: 100px;">
        <h4 class="heading">Search</h4>
        <p>Search developers and projects among hundreds</p>
      </div>
      <div class="col-md-3">
          <img src="./assets/img/bid.png"class="serv-image"style="width:50%; height: 100px;">
          <h4 class="heading">Bids</h4>
          <p>Make the finest Bids</p>
      </div>
      <div class="col-md-3">
          <img src="./assets/img/conn.jpg"class="serv-image"style="width:50%; height: 100px;">
          <h4 class="heading">Connect</h4>
          <p>Connect with people</p>
        </div>
        <div class="col-md-3">
            <img src="./assets/img/not.png"class="serv-image"style="width:50%; height: 100px;">
            <h4 class="heading">Notification</h4>
            <p>Notifiy every new update</p>
          </div>
    </div>
  </div>
</body>



<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
            <div *ngIf="marked3">
              What is your carrier?
            </div>
            <div *ngIf="marked1">
                Register as a Developer
              </div>
              <div *ngIf="marked2">
                  Register as a Client
                </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="marked3">
          <app-user-type></app-user-type>
        </div>
        <div *ngIf="marked1">
            <app-dev-register></app-dev-register>
          </div>
          <div *ngIf="marked2">
              <app-cli-register></app-cli-register>
            </div>
      </div>
    </div>
  </div>
</div>

    




