

<div class="container">

   
  
    <div class="col-md-6 mx-left">
      <h1 class="text-center">PROFILE</h1>
    </div>
    <img src="{{authHome.img_link}}{{ developer?.profile_img }}"  width="20%" heigt="20%">
    <a (click)="gotoChat()" routerLink="/cliCatagory/chat"><img src="../../../assets/img/chat.png" width="5%" heigt="5%" style="margin-left: -5%;margin-top: 5%"></a>
  
    <table class="table col-md-6 mx-left">
      <tr>
        <td>Fist Name</td>
        <td>{{ developer?.first_name }}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{ developer?.last_name }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ developer?.email }}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ developer?.gender }}</td>
      </tr>
      <tr>
        <td>contact number</td>
        <td>{{ developer?.contact_no }}</td>
      </tr>
    </table>
  
  
      <div class="col-md-6 mx-left">
        <h1 class="text-center">Technologies</h1>
      </div>
      <table class="table col-md-6 mx-left">
        <div *ngFor="let techno of technos">
          <tr>{{ techno?.technology }}</tr>
        </div>
  
      </table>
      
  
      <div *ngIf="marked1">
      <select [(ngModel)]="credentials.project_ID">
        <option *ngFor="let project of projects" [value]="project.id">
            {{ project?.project_name }}
        </option>
      </select>
  
      <button (click)="requestDeveloper()">Request</button>
  
    </div>
  
    <div *ngIf="marked2">
      <div *ngFor="let requested_developer of requested_developers">
      <b>Requested for {{ requested_developer?.project.project_name }}</b>
    </div>
      <br><br>
      <select [(ngModel)]="credentials.project_ID">
          <option *ngFor="let project of projects" [value]="project.id">
              {{ project?.project_name }}
            </option>
        </select>
    
        <button (click)="requestDeveloper()">Request</button>
    </div>
  
  </div>