<ul>
  <li><img src="assets/img/logo.png" height="51px" width="100px"></li>
  <li><a routerLink="/cliCatagory/home">Home</a></li>
  <li><a routerLink="/cliCatagory/profile">Profile</a></li>
  <li><a routerLink="/cliCatagory/project">Project</a></li>
  <li style="float:right"><a href="/home/login" class="active" (click)="logout()">Log Out</a></li>
  <li style="float:right"><a routerLink="/cliCatagory/notification" class="notification">
      <span><img src="assets/img/bell.png" height="20px" width="20px"></span>
      <span class="badge">{{ countBid + countRequest + countAccept }}</span>
    </a>
  </li>
</ul>