<ul style="box-shadow: 0px 1px 5px 2px rgb(167, 166, 166);" class="down">
  <li style="margin:-1.5% -10% -0.5% 2%;"><img src="assets/img/logo.png" height="1%" width="20%"></li>
  <li><a routerLink="/cliCatagory/home">Home</a></li>
  <li><a routerLink="/cliCatagory/profile">Profile</a></li>
  <li><a routerLink="/cliCatagory/project">Project</a></li>
  <li  style="float:right"><a href="/home/login" (click)="logout()"><div style="color: blue;"><b>Log Out</b></div></a></li>
  <li style="float:right"><a routerLink="/cliCatagory/notification" class="notification">
      <span><img src="assets/img/notification.png" height="45px" width="45px"></span>
      <div *ngIf="totalCount > 0">
      <span class="badge">{{ countBid + countRequest + countAccept }}</span>
    </div>
    </a>
  </li>
  <li  style="float:right; margin-right: -6%;"><a routerLink="/cliCatagory/chat"><img style=" width: 18%;"  src="../../../assets/img/cc.png"></a></li>
  
</ul>


