<app-cli-appbar></app-cli-appbar>

<div *ngIf='type =="profile"'><app-cli-profile></app-cli-profile></div>
<div *ngIf='type =="home"'><app-cli-home></app-cli-home></div>
<div *ngIf='type =="project"'><app-project-home></app-project-home></div>
<div *ngIf='type =="notification"'><app-cli-view-notification></app-cli-view-notification></div>
<div *ngIf = 'type == "chat"'><app-chat-interface></app-chat-interface></div>
<div *ngIf='type == "all"'><app-cli-all></app-cli-all></div>
<app-footer></app-footer>