
<div class="container">
<div class="row">

  <div class="col mx-auto">

    <img src="http://localhost:3000/{{ details?.profile_img}}" width="30%" height="30%" class="img1"><br>
    <label><img src="assets/img/cam2.png" width="10%" height="10%" class="img2" />
      <input type="file" name="profile_image" accept="image/*" (change)="onFileSelected($event)">
    </label>

    <div *ngIf="marked1">

      <table class="table">
        <tr>
          <td>Fist Name</td>
          <td>{{ details?.first_name }}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{ details?.last_name }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ details?.email }}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{ details?.gender }}</td>
        </tr>
        <tr>
          <td>contact number</td>
          <td>{{ details?.contact_no }}</td>
        </tr>
      </table>

      <div style="text-align: center"><button (click)="showEditProf()" class="btn btn-lg btn-primary">Edit public
          details</button></div>

    </div>

    <app-cli-edit-profile *ngIf="marked2"></app-cli-edit-profile>
  </div>

  <div class="col mx-auto">

  </div>
</div>
</div>