
<ul class="down">
     <li><img src="assets/img/logo.png" height="51px" width="100px"></li>
     <li><a routerLink="/devCatagory/home">Home</a></li>
    <li><a  routerLink="/devCatagory/profile">Profile</a></li>
     <li><a routerLink="/devCatagory/competition">Competitions</a></li>
     <li><a routerLink="/devCatagory/project">My Projects</a></li>
     <li  style="float:right"><a href="/home/login" class="active" (click)="logout()">Log Out</a></li>
     <li style="float:right"><a routerLink="/devCatagory/notification" class="notification">
               <span><img src="assets/img/bell.png" height="20px" width="20px"></span>
               <span class="badge">{{ countRequestDeveloper + countAccProReq + countAccBidReq }}</span>
             </a>
     </li>
</ul>


