<div class="viewmore" *ngIf="marked"> <a style=" color: red; margin: 2px 4px 2px 4px ;" routerLink="/cliCatagory/home"><-<-  back</a></div>
  <div class="viewmore" *ngIf="!marked"> <a style=" color: red; margin: 2px 4px 2px 4px ;" (click)="back()"><-<-  back</a></div>
<div class="container">
    <div *ngIf="marked">
    
  <div class="row">
<div class="box"  *ngFor="let item of  load">
    <div style="text-align: center;"> <img class="imag" src="{{authHome.img_link}}{{ item?.user.profile_img}}"
      alt="Card image cap"></div>
      <div class="card-body">
      <h4  class="card-title">{{item?.user.first_name}} {{ item?.user.last_name}}</h4>
      <p *ngIf="item?.user.rating <= 0.5" class="card-text">
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
      </p>
      <p *ngIf="item?.user.rating > 0.5 && item?.user.rating  <= 1.5" class="card-text">
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
      </p>
      <p *ngIf="item?.user.rating > 1.5 && item?.user.rating <=2.5" class="card-text">
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
      </p>
      <p *ngIf="item?.user.rating > 2.5 && item?.user.rating <= 3.5" class="card-text">
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
      </p>
      <p *ngIf="item?.user.rating > 3.5 && item?.user.rating <= 4.5" class="card-text">
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </p>
      <p *ngIf="item?.user.rating > 4.5 && item?.user.rating <= 5" class="card-text">
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star checked "></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </p>
     
       
      <div style="text-align: center;">  <a class="btn btn-primary" (click)="viewDeveloper(item?.user.id)">View profile</a>
    </div></div>
</div>

  </div>

</div>

</div>
<div *ngIf="!marked">
    <app-veiw-all-dev></app-veiw-all-dev>
  </div>