

<div class="backcolor">
    <div class="container section no-padding footer">
        
        <div class="row no-margin justify-content-around">
            <div class="col-lg-3 col-sm-6 padding-top"> <div class="footer-logo">
                <img class="footer-logo" src="./assets/img/logo.png" style="width:100%; height: 100px;">
            </div>
                <div class="f-icons">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-rss"></a>
                </div>
  
            </div>
            <div class="col-lg-3 col-sm-6 padding-top">
                <li class="footer-item">
                    <a href="#" class="footer-link">info@uDevs.lk</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">+94 77 123 123 4</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">No 5, Gangodawila, Nugegoda</a>
                </li>
            </div>
            
            <div class="col-lg-3 col-sm-6 padding-top">
                <li class="footer-item">
                    <a href="#" class="footer-link">Privacy & Cookies</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link"> Privacy Settings</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">Terms of use</a>
                </li>
            </div>
        </div>
    </div>
  </div>
