/* 
    .form-contro{
      background:transparent;
      border-radius: 5px;
      border: 4px;
      border-bottom: 3px solid #f44c89;
      margin-bottom:15px;
      margin-left:20px;
      width: 85%;
     
      
    }
    
    .drop-d{
      background: transparent;
      margin-left:20px;
      width:300px;
    }
    
    .label{
      font-size: 19px;
      color: white;
      font-weight: bold;
      margin-left:10px;
    }
    
    .btn-sign{
      background-color: #f44c89;
      margin-right:20px;
      margin-top:10px;
      width:100px;
      font-size:20px;
      color: white;
    }
    .btn-sign:hover{
      color:grey;
    }
    .btn-reg{
      background:#1a1aff;
      margin-left:25px;
      margin-top:5px;
      width:350px;
      font-size:20px;
      border:2px;
      color: white;
    }
    .btn-reg-disable{
      background:#6e6ef1;
      margin-left:25px;
      margin-top:5px;
      width:350px;
      font-size:20px;
      border:2px;
      color: white;
    }
    .btn-reg-disable:hover{
      color:#8080ff;
    }
    .btn-reg:hover{
      color:#8080ff;
    }
     
    .alert_msg{
      margin-top: -2%;
      margin-left: 20px;
    }
    .form-control{
      background:transparent;
      border:0px;
      font-size: 22px;
      color: white;
    }
    .btn-radio{
      margin-left: 5%
    }


    ul{
      margin-bottom: 50px;
      
    }
    ul a{
      font-size: 29px;
      color: white;
    }
    ul a:hover{
      text-decoration:none;
      color: gray;
    }



    input[type="file"] {
      display: none;
  }
  
  .img1
      {
          position: relative;
          top: 0;
          left: 0;
          border-radius:100%;
      
      }
      .img2
      {
          position: absolute;
          top: 60%;
          left: 60%;
          border-radius:100%;
      }
   .picMargin{
       margin-left: 10%;
   } */


   .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
  }
  .divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
  }
  
  .btn-facebook {
    background-color: #405D9D;
    color: #fff;
  }
  .btn-twitter {
    background-color: #42AEEC;
    color: #fff;
  }