<app-dev-appbar></app-dev-appbar>

<div *ngIf='type =="profile"'><app-dev-profile></app-dev-profile></div>
<div *ngIf='type =="home"'><app-dev-home></app-dev-home></div>
<div *ngIf='type =="notification"'><app-dev-view-notification></app-dev-view-notification></div>
<div *ngIf='type =="competition"'><app-dev-competition></app-dev-competition></div>
<div *ngIf='type =="project"'><app-dev-project></app-dev-project></div>
<div *ngIf = 'type == "chat"'><app-chat-interface></app-chat-interface></div>
<div *ngIf='type == "all"'><app-dev-all></app-dev-all></div>
<app-footer></app-footer>