<ul class="down">
  <li><img src="assets/img/logo.png" height="51px" width="100px"></li>
  <li><a routerLink="/adminCatagory/home">Home</a></li>
  <li><a routerLink="/adminCatagory/baned_users">User management</a></li>
  <li><a routerLink="/adminCatagory/competition">Competions</a></li>
  <li><a routerLink="/adminCatagory/add_ads">Advertisement</a></li>
  <li  style="float:right"><a href="/home/login" class="active" (click)="logout()">Log Out</a></li>

</ul>


<div *ngIf='type =="home"'><app-admin></app-admin></div>
<div *ngIf='type =="baned_users"'><app-baned-users></app-baned-users></div>
<div *ngIf='type =="add_ads"'><app-add-ads></app-add-ads></div>