



<div class="container">
<!-- <button (click)="BackToNotification()">&lt;&lt;&lt;Back to Notifications</button> -->

<div>
<img src="http://localhost:3000/{{ Not_details?.user?.profile_img  }}"
alt="http://localhost:3000/{{ Not_details?.user?.profile_img  }}">


<br> {{ Not_details?.user.first_name }} &nbsp;
{{ Not_details?.user.last_name }}<br>

{{ Not_details?.project.project_name }}


<div *ngIf="marked1"><button (click)="acceptRequest()">Accept the request</button></div>
<div *ngIf="marked2"><button>Accepted</button></div>

</div>

</div>